<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %> min-h-screen bg-light">
    <%= render "navbar", metadata: site.metadata %>

    <main class="bg-light">
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
    
  
  </body>
</html>


    
   